[submodule "cpython"]
	path = cpython
	url = git@github.com:python/cpython.git
[submodule "rust"]
	path = rust
	url = git@github.com:rust-lang/rust.git
[submodule "jython"]
	path = jython
	url = git@github.com:jythontools/jython.git
[submodule "pypy"]
	path = pypy
	url = git@github.com:mozillazg/pypy.git
